<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            DDDSW 2022
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="currentUser" color="primary" (click)="handleShowEventRating()">
                <ion-icon name="happy-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="!metaDataVM && !failedToLoadData">
        loading...
    </div>
    <div *ngIf="failedToLoadData">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Failed to load data</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-button expand="full" (click)="syncData()">
                    <ion-icon slot="start" name="sync-outline"></ion-icon>
                    Retry
                </ion-button>
            </ion-card-content>
          </ion-card>
    </div>
    <div *ngIf="metaDataVM">
        <ion-item-group *ngFor="let timeSlot of metaDataVM.timeSlots">
            <ion-item-divider color="primary">
                <ion-label>{{timeSlot.from | date:'shortTime'}} to {{timeSlot.to | date:'shortTime'}}</ion-label>
            </ion-item-divider>
            <ion-item *ngIf="timeSlot.info">
                <ion-label>{{timeSlot.info}}</ion-label>
            </ion-item>

            <ng-container *ngIf="!timeSlot.info">
                <ion-item button *ngFor="let sessionInfo of timeSlot.sessions" (click)="handleSessionSelected(sessionInfo)">
                    <ion-icon name="bookmark" *ngIf="sessionInfo.isBookmarked" item-left>
                    </ion-icon>
                    <ion-label>
                        <h2>{{sessionInfo.session.title}}</h2>
                        <h3>{{sessionInfo.session.speaker}}</h3>
                        <h3>{{sessionInfo.track.name}} ({{sessionInfo.track.roomName}})</h3>
                    </ion-label>
                </ion-item>
            </ng-container>
        </ion-item-group>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="currentUser" (click)="handleShowGameScore()">
            {{eventScore}}
        </ion-fab-button>
        <ion-fab-button *ngIf="!currentUser" (click)="handleShowLogin()">
            <ion-icon name="log-in-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>