@using PocketDDD.BlazorClient.Features.EventFeedback.Store
@using Microsoft.AspNetCore.Components
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<EventFeedbackState> State
@inject IDispatcher Dispatcher

<MudDialog>
    <TitleContent><MudText Typo="Typo.h6" Align="Align.Center">Event Feedback</MudText></TitleContent>
    <DialogContent>

        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h5">Please provide feedback on the event</MudText>
                <MudText Typo="Typo.body2" Class="mt-2">
                    You will get 3 prize draw entries for providing event feedback.<br/>
                    Note: You are welcome to update your feedback, but it won't get you any extra points!
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Class="mt-3">
            <MudCardContent>
                <MudText Typo="Typo.h5">Please provide a name</MudText>
                <MudText Typo="Typo.body2">
                    <MudTextField 
                        @bind-Value="_comments"
                        Immediate="true"
                        Label="Name"
                        Variant="Variant.Text">
                    </MudTextField>
                    <p>
                        This name will be called out if you win a prize. It doesn't have to be your real name.
                    </p>
                </MudText>
            </MudCardContent>
        </MudCard>


    </DialogContent>
    <DialogActions>
@*        <MudButton 
            Variant="Variant.Filled" 
            Color="Color.Primary" 
            FullWidth="true" 
            OnClick="HandleLogin"
            Disabled="string.IsNullOrWhiteSpace(loginName)">
            Login
        </MudButton>*@
    </DialogActions>
</MudDialog>

@code {
    string _comments = string.Empty;
}
