<ion-header>
    <ion-toolbar>
        <ion-title>DDDSW 2022 Event Score</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="currentUser">
        <ion-card-header>
            <ion-card-title style="display: flex;">
                <span>{{currentUser.name}} </span> 
                <ion-button shape="round" size="small" fill="outline" style="margin-left: auto; margin-top:0" (click)="handleLogOut()">
                    <ion-icon slot="start"  name="log-out-outline" ></ion-icon>
                    Log Out
                </ion-button>
                
            </ion-card-title>
            <ion-card-subtitle>{{currentUser.token}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <h2 style="font-weight:bold">Score: </h2>
                </ion-col>
                <ion-col>
                    <h2>{{currentScore}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2 style="font-weight:bold">Sync State: </h2>
                </ion-col>
                <ion-col>
                    <h2>{{syncState}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2 style="font-weight:bold">Pending Sync Data: </h2>
                </ion-col>
                <ion-col>
                    <h2>{{pendingDataCount}}</h2>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button expand="full" (click)="handleClose()">
                        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                        Close
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" (click)="handleSync()">
                        <ion-icon slot="start" name="sync-outline"></ion-icon>
                        Sync
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer collapse="fade">
    <ion-toolbar>
      <ion-title>v{{version}}</ion-title>
    </ion-toolbar>
</ion-footer>