@using Fluxor
@using PocketDDD.BlazorClient.Features.Login.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<LoginState> State
@inject IDispatcher Dispatcher

<MudDialog>
    <TitleContent><h2 class="d-flex justify-center">Welcome to DDD South West 2023</h2> </TitleContent>
    <DialogContent>

        <MudCard>
            <MudCardContent>
                <MudText><h5>Please use this app for session and event feedback</h5></MudText>
                <MudText Typo="Typo.body2" Class="mt-2">
                    To gain the maximum number of entries in the prize draw, please provide feedback for every
                    session you attend.
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Class="mt-3">
            <MudCardContent>
                <MudText><h5>Please provide a name</h5> </MudText>
                <MudText Typo="Typo.body2">
                    <MudTextField @bind-Value="loginName" Label="Name" Variant="Variant.Text"></MudTextField>
                    <p>
                        This name will be called out if you win a prize. It doesn't have to be your real name.
                    </p>
                </MudText>
            </MudCardContent>
        </MudCard>
        
        @WhenLoginFailedShowAlert()

    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="HandleLogin">Login</MudButton>
    </DialogActions>
</MudDialog>


@code {
    RenderFragment WhenLoginFailedShowAlert() => State.Value.LoginFailed
        ? @<MudAlert Severity="Severity.Warning">Login failed, please try again!</MudAlert>
        : null;
}

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    string loginName = "";

    protected override void OnInitialized()
    {
        SubscribeToAction<SetLoginSuccess>(HandleLoginSuccess);
        base.OnInitialized();
    }

    void HandleLogin() => Dispatcher.Dispatch(new LoginAction(loginName));

    void HandleLoginSuccess(SetLoginSuccess action)
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}